<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Eyes</key>
	<string></string>
	<key>Hair</key>
	<string></string>
	<key>Weight</key>
	<string></string>
	<key>Height</key>
	<string></string>
	<key>Age</key>
	<string></string>
	<key>Gender</key>
	<string></string>
	<key>Size</key>
	<string></string>
	<key>Race</key>
	<string></string>
	<key>Diety</key>
	<string></string>
	<key>CharacterLevel</key>
	<integer>0</integer>
	<key>CharacterClass</key>
	<string></string>
	<key>Player</key>
	<string></string>
	<key>Alignment</key>
	<string></string>
	<key>CharacterName</key>
	<string></string>
	<key>Inventory</key>
	<dict>
		<key>Weapons</key>
		<array/>
		<key>Items</key>
		<array/>
	</dict>
	<key>CombatStats</key>
	<dict>
		<key>ArmorClass</key>
		<dict>
			<key>Total</key>
			<integer>0</integer>
			<key>DeflectionModifier</key>
			<integer>0</integer>
			<key>MiscModifier</key>
			<integer>0</integer>
			<key>SizeModifier</key>
			<integer>0</integer>
			<key>NaturalArmor</key>
			<integer>0</integer>
			<key>ShieldBonus</key>
			<integer>0</integer>
			<key>DexModifier</key>
			<integer>0</integer>
			<key>ArmorBonus</key>
			<integer>0</integer>
		</dict>
		<key>BaseAttackBonus</key>
		<integer>0</integer>
		<key>SpellResistance</key>
		<integer>0</integer>
		<key>CMD</key>
		<dict>
			<key>Total</key>
			<integer>0</integer>
			<key>BaseAttackBonus</key>
			<integer>0</integer>
			<key>StrengthModifier</key>
			<integer>0</integer>
			<key>DexterityModifier</key>
			<integer>0</integer>
			<key>SizeModifier</key>
			<integer>0</integer>
		</dict>
		<key>CMB</key>
		<dict>
			<key>Total</key>
			<integer>0</integer>
			<key>BaseAttackBonus</key>
			<integer>0</integer>
			<key>StrengthModifier</key>
			<integer>0</integer>
			<key>SizeModifier</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SavingThrowStats</key>
	<dict>
		<key>STReflex</key>
		<dict>
			<key>Total</key>
			<integer>0</integer>
			<key>Base Save</key>
			<integer>0</integer>
			<key>AbilityModifier</key>
			<integer>0</integer>
			<key>MagicModifier</key>
			<integer>0</integer>
			<key>MiscModifier</key>
			<integer>0</integer>
			<key>TempModifier</key>
			<integer>0</integer>
		</dict>
		<key>STWill</key>
		<dict>
			<key>Total</key>
			<integer>0</integer>
			<key>Base Save</key>
			<integer>0</integer>
			<key>AbilityModifier</key>
			<integer>0</integer>
			<key>MagicModifier</key>
			<integer>0</integer>
			<key>MiscModifier</key>
			<integer>0</integer>
			<key>TempModifier</key>
			<integer>0</integer>
		</dict>
		<key>STFortitude</key>
		<dict>
			<key>Total</key>
			<integer>0</integer>
			<key>Base Save</key>
			<integer>0</integer>
			<key>AbilityModifier</key>
			<integer>0</integer>
			<key>MagicModifier</key>
			<integer>0</integer>
			<key>MiscModifier</key>
			<integer>0</integer>
			<key>TempModifier</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>MainStats</key>
	<dict>
		<key>Speed</key>
		<integer>0</integer>
		<key>HP</key>
		<integer>0</integer>
		<key>Initiative</key>
		<dict>
			<key>Total</key>
			<integer>0</integer>
			<key>DexModifier</key>
			<integer>0</integer>
			<key>MiscModifier</key>
			<integer>0</integer>
		</dict>
		<key>Charisma</key>
		<dict>
			<key>Total</key>
			<integer>0</integer>
			<key>AbilityModifier</key>
			<integer>0</integer>
			<key>TempAdjustment</key>
			<integer>0</integer>
			<key>TempModifier</key>
			<integer>0</integer>
		</dict>
		<key>Wisdom</key>
		<dict>
			<key>Total</key>
			<integer>0</integer>
			<key>AbilityModifier</key>
			<integer>0</integer>
			<key>TempAdjustment</key>
			<integer>0</integer>
			<key>TempModifier</key>
			<integer>0</integer>
		</dict>
		<key>Inteligence</key>
		<dict>
			<key>Total</key>
			<integer>0</integer>
			<key>AbilityModifier</key>
			<integer>0</integer>
			<key>TempAdjustment</key>
			<integer>0</integer>
			<key>TempModifier</key>
			<integer>0</integer>
		</dict>
		<key>Constitution</key>
		<dict>
			<key>Total</key>
			<integer>0</integer>
			<key>AbilityModifier</key>
			<integer>0</integer>
			<key>TempAdjustment</key>
			<integer>0</integer>
			<key>TempModifier</key>
			<integer>0</integer>
		</dict>
		<key>Dexterity</key>
		<dict>
			<key>Total</key>
			<integer>0</integer>
			<key>AbilityModifier</key>
			<integer>0</integer>
			<key>TempAdjustment</key>
			<integer>0</integer>
			<key>TempModifier</key>
			<integer>0</integer>
		</dict>
		<key>Strength</key>
		<dict>
			<key>Total</key>
			<integer>0</integer>
			<key>AbilityModifier</key>
			<integer>0</integer>
			<key>TempAdjustment</key>
			<integer>0</integer>
			<key>TempModifier</key>
			<integer>0</integer>
		</dict>
	</dict>
</dict>
</plist>
