<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Eyes</key>
	<string></string>
	<key>Hair</key>
	<string></string>
	<key>Weight</key>
	<string></string>
	<key>Height</key>
	<string></string>
	<key>Age</key>
	<string></string>
	<key>Gender</key>
	<string></string>
	<key>Size</key>
	<string></string>
	<key>Race</key>
	<string></string>
	<key>Diety</key>
	<string></string>
	<key>CharacterLevel</key>
	<integer>0</integer>
	<key>CharacterClass</key>
	<string></string>
	<key>Player</key>
	<string></string>
	<key>Alignment</key>
	<string></string>
	<key>CharacterName</key>
	<string></string>
	<key>MainStats</key>
	<dict>
		<key>ArmorClass</key>
		<dict/>
		<key>ArmorBonus</key>
		<string></string>
		<key>ShieldBonus</key>
		<string></string>
		<key>DexModifier</key>
		<string></string>
		<key>Charisma</key>
		<dict>
			<key>Total</key>
			<integer>0</integer>
			<key>AbilityModifier</key>
			<integer>0</integer>
			<key>TempAdjustment</key>
			<integer>0</integer>
			<key>TempModifier</key>
			<integer>0</integer>
		</dict>
		<key>Wisdom</key>
		<dict>
			<key>Total</key>
			<integer>0</integer>
			<key>AbilityModifier</key>
			<integer>0</integer>
			<key>TempAdjustment</key>
			<integer>0</integer>
			<key>TempModifier</key>
			<integer>0</integer>
		</dict>
		<key>Inteligence</key>
		<dict>
			<key>Total</key>
			<integer>0</integer>
			<key>AbilityModifier</key>
			<integer>0</integer>
			<key>TempAdjustment</key>
			<integer>0</integer>
			<key>TempModifier</key>
			<integer>0</integer>
		</dict>
		<key>Constitution</key>
		<dict>
			<key>Total</key>
			<integer>0</integer>
			<key>AbilityModifier</key>
			<integer>0</integer>
			<key>TempAdjustment</key>
			<integer>0</integer>
			<key>TempModifier</key>
			<integer>0</integer>
		</dict>
		<key>Dexterity</key>
		<dict>
			<key>Total</key>
			<integer>0</integer>
			<key>AbilityModifier</key>
			<integer>0</integer>
			<key>TempAdjustment</key>
			<integer>0</integer>
			<key>TempModifier</key>
			<integer>0</integer>
		</dict>
		<key>Strength</key>
		<dict>
			<key>Total</key>
			<integer>0</integer>
			<key>AbilityModifier</key>
			<integer>0</integer>
			<key>TempAdjustment</key>
			<integer>0</integer>
			<key>TempModifier</key>
			<integer>0</integer>
		</dict>
	</dict>
</dict>
</plist>
